log.txt
.dub
docs.json
__dummy.html
/heaven-engine
heaven-engine.exe
heaven-engine.pdb
heaven-engine.so
heaven-engine.dylib
heaven-engine.dll
heaven-engine.a
heaven-engine.lib
heaven-engine-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
.ldc2_cache
sky.sh
a.out
*.so*
sky
*.dylib*
res/
scripts/
docs/
./save.txt
./heaven-silent-hill/
heaven-silent-hill/
heaven-soul-hackers/
./heaven-soul-hackers/