log.txt
.dub/
docs.json
__dummy.html
/amaterasu-engine
amaterasu-engine.exe
amaterasu-engine.pdb
amaterasu-engine.so
amaterasu-engine.dylib
amaterasu-engine.dll
amaterasu-engine.a
amaterasu-engine.lib
amaterasu-engine-test-*
*.exe
*.pdb
*.o
*.obj
*.lst
.ldc2_cache
sky.sh
a.out
*.so*
sky
res/
scripts/
docs/
./save.txt